Button {          
    -fx-background-image: url("delete.png");
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;   
    -fx-background-color: none;
    -fx-opacity: .5;
}

Button:hover {
	-fx-opacity: .9;
}

Label {
	-fx-text-overrun: leading-ellipsis;
	-fx-text-alignment: left;
}